<div>
    <style type="text/css">
        form{
          display: block;
          padding: 30px;
          border:3px solid black;
          margin:0 auto;
          width: 330px;
          background-color: #BCD6F5
          }
      </style>

    <form action="ejemplo.php" method="get">
        <!-- formulario con una respuesta de círculo -->
        <p>Ingrese su nombre: <input type="text" name="estdios" size="4"></p>
        Seleccione el máximo nivel de estudios que tiene:<br>
        <input type="radio" name="Sin estudios"> Sin estudios</input><br>
        <input type="radio" name="Primaria"> Primaria</input><br>
        <input type="radio" name="Secundaria"> Secundaria</input><br>
        <input type="radio" name="Universidad"> Universidad</input><br>
  	    <p>
    	    <input type="submit" value="Enviar">
	    </p>
    </form>
</div>